 .box {
   background-color: #79797f;
   width: 150px;
   height: 150px;
   transition-duration: 1s background-color;
   transition-timing-function: ease-in-out;
  }

 .box:hover {
   background-color: #e84610;
  }
 